.content-wrap h1,
h2,
h3 {
  color: grey;
  font-family: ;
}
.content-wrap h2 {
  margin-top: -1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 900px;
}

.background-image {
  background-image: url("https://images.unsplash.com/photo-1459865264687-595d652de67e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
  background-size: cover;
  min-height: 400px;
  width: 100%;
  transform: skewY(-3deg);
  z-index: -1;
  margin-top: -3rem;
}

.profile-card {
  min-height: 300px;
  width: 60%;
  background-color: #fcfcfc;
  margin-top: -10rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(140, 140, 140, 0.7);
}

.buttons-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.text-wrap {
  font-size: 1.1rem;
  margin: 4rem;
}

.text-wrap p {
  text-align: left;
  font-size: 0.9rem;
}

#profile-image {
  margin-top: -10rem;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgba(140, 140, 140, 0.7);
}

#profile-club {
  height: 70px;
  margin-top: -40px;
}
