.editDisplay {
  margin-top: 10px;
}

.canvas {
  position: relative;
  background-color: #f5f5f5;
  height: 1080px;
  width: 1080px;
  /*
  change display size:
  transform: scale(0.5);*/
}

#team-home {
  position: absolute;
  margin-top: 15rem;
  margin-left: 10rem;
  font-size: 5rem;
  color: white;
}

#team-away {
  position: absolute;
  margin-top: 15rem;
  margin-left: 40rem;
  font-size: 5rem;
  color: white;
}

#score-home {
  position: absolute;
  margin-top: 45rem;
  margin-left: 17rem;
  font-size: 10rem;
  color: white;
}

#score-away {
  position: absolute;
  margin-top: 45rem;
  margin-left: 46rem;
  font-size: 10rem;
  color: white;
}

.bgData {
  position: absolute;
  height: 1080px;
  width: 1080px;
  overflow: hidden;
}

#bgData {
  min-height: 100%;
  min-width: 100%;
}

.templateData {
  position: absolute;
  width: 100%;
}

#templateData {
}

.icon-home {
  position: absolute;
  margin-top: 25rem;
  margin-left: 10rem;
}

#icon-home {
}

.icon-away {
  position: absolute;
  margin-top: 25rem;
  margin-left: 40rem;
}

#icon-away {
}

.EditDisplayButtons {
  background-color: #0c343f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
}
