.Header {
  background-color: #0c343f;
  color: white;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
}

#logo {
  width: 300px;
}
