.Designs {
  background-color: purple;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}

.TemplateCollection {
  background-color: #5effac;
  color: #0c343f;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.DesignsLayout {
}

.UploadSection {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f5f5f5;
}

.ContentForm {
  background-color: #5effac;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-wrap {
  background-color: lightblue;
}

.team-wrap {
  background-color: lightseagreen;
}

.result-wrap {
  background-color: lightcoral;
}

.magic {
  height: 200px;
}
